/* Orange color for light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme=light],
:root:not([data-theme=dark]),
:host:not([data-theme=dark]) {
    --pico-text-selection-color: rgba(244, 93, 44, 0.25);
    --pico-primary: #5eb130;
    --pico-primary-background: #5eb130;
    --pico-primary-underline: #5eb130;
    --pico-primary-hover: color-mix(in srgb, #5eb130, black 20%);
    --pico-primary-hover-background: color-mix(in srgb, #5eb130, black 20%);
    --pico-primary-focus: rgba(244, 93, 44, 0.5);
    --pico-primary-inverse: #fff;
}

/* Orange color for dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]),
    :host:not([data-theme]) {
        --pico-text-selection-color: rgba(245, 107, 61, 0.1875);
        --pico-primary: #5eb130;
        --pico-primary-background: #5eb130;
        --pico-primary-underline: #5eb130;
        --pico-primary-hover: color-mix(in srgb, #5eb130, black 20%);
        --pico-primary-hover-background: color-mix(in srgb, #5eb130, black 20%);
        --pico-primary-focus: rgba(245, 107, 61, 0.375);
        --pico-primary-inverse: #fff;
    }
}
/* Orange color for dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme=dark] {
    --pico-text-selection-color: rgba(245, 107, 61, 0.1875);
    --pico-primary: #f56b3d;
    --pico-primary-background: #d24317;
    --pico-primary-underline: rgba(245, 107, 61, 0.5);
    --pico-primary-hover: #f8a283;
    --pico-primary-hover-background: #e74b1a;
    --pico-primary-focus: rgba(245, 107, 61, 0.375);
    --pico-primary-inverse: #fff;
}

.logo img {
    width: clamp(30px, 0.15vw, 100px);
    max-width: 100px;
}

.container img {
    max-width: min( 1000px, 100% );
    border-radius: 2rem;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}